/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

// Enhanced mouse movement configuration for better Windows compatibility
&mmv {
    time-to-max-speed-ms = <400>;            // How long time until max speed is reached (default: 500)
    acceleration-exponent = <1>;             // Linear acceleration
};
    
&msc {
    time-to-max-speed-ms = <500>;            // How long time until max speed is reached
    acceleration-exponent = <0>;             // No acceleration for more precise scrolling
};

&mt {
    flavor = "tap-preferred";
};

/ {

    behaviors {
            td0: tap_dance {
                compatible = "zmk,behavior-tap-dance";
                label = "TAP_DANCE_0";
                #binding-cells = <0>;
                tapping-term-ms = <250>;
                bindings = <&kp LALT>, <&tog 3>;
            };
            
            // Add a bluetooth clear and reconnect behavior for connection issues
            bt_clr_reset: bt_clr_reset {
                compatible = "zmk,behavior-macro";
                label = "BT_CLEAR_RESET";
                #binding-cells = <0>;
                bindings = <&bt BT_CLR>, <&bt BT_SEL 0>;
            };
    };

    keymap {
        
        // Key location reference
        //     0             1            2            3            4                        5            6            7            8            9        
        //    10            11           12           13           14                       15           16           17           18           19
        //    20            21           22           23           24                       25           26           27           28           29
        //                                            30           31                       32           33

        compatible = "zmk,keymap";
        // Layer 0
        // quite optimised: to work on a decicated gaming layer <trigger through combo> 
        default_layer {
            bindings = <
                &kp Q               &kp W      &kp E      &kp R      &kp T               &kp Y      &kp U         &kp I         &kp O           &kp P
                &mt LSHFT A         &kp S      &kp D      &kp F      &kp G               &kp H      &kp J         &kp K         &kp L           &mt RSHFT SEMI
                &mt LCTRL Z         &kp X      &kp C      &kp V      &kp B               &kp N      &kp M         &kp COMMA     &kp DOT         &mt RCTRL FSLH
                                                      &td0     &lt 1 SPACE               &lt 2 BSPC       &mt LGUI TAB
                >;
        };

        // Layer 1
        // quite optimised
        num_punc_layer {
            bindings = <
                &kp N1     &kp N2     &kp N3     &kp N4          &kp N5                     &kp N6          &kp N7          &kp N8        &kp N9           &kp N0
                &kp ESC    &kp PG_UP  &kp PG_DN  &msc SCRL_UP    &msc SCRL_DOWN             &kp LEFT        &kp DOWN        &kp UP        &kp RIGHT        &trans
                &kp MINUS  &kp EQUAL  &kp SQT    &mkp LCLK       &mkp RCLK                  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &kp ENTER
                                                 &trans          &trans                     &trans          &trans
                >;
        };
        
        // Layer 2
        // add most often used macros in excel: format painter, 
        // wishlist excel function: trace precedent, trace dependent, remove arrow
        
        nav_sys_layer {
            bindings = <
                &kp F1        &kp F2              &kp F3            &kp F4                  &kp F5                     &kp F6          &kp F7         &kp F8         &kp F9         &kp F10
                &kp DEL       &sheet_prepare      &freeze_pane      &kp HOME                &kp END                    &none           &kp TILDE      &kp LBKT       &kp RBKT       &kp BSLH
                &kp CAPS      &inc_dec            &red_dec          &kp LC(LA(MINUS))       &kp LC(LA(EQUAL))          &bt BT_SEL 0    &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_CLR
                                                                    &trans                  &trans                     &trans          &trans
                >;
        };
        
        // Layer 3
        // left hand: add most often used key with a mouse: enter key, 
        // right hand: computation notation very rarely used, should focus on data exploration in excel, e.g. trace precedent, dependent and remove arrow
        // right hand: top right backspace is redundant
        one_hand_layer {
            bindings = <
                &kp ESC             &kp LC(C)          &kp LC(V)         &kp LC(W)         &kp LC(D)                 &kp LC(C)       &kp LC(V)       &kp LC(LBKT)         &kp LC(RBKT)            &kp BSPC
                &kp LC(PG_UP)       &mkp LCLK          &mmv MOVE_UP      &mkp RCLK         &msc SCRL_UP              &kp LEFT        &kp DOWN        &kp UP               &kp RIGHT               &kp F2
                &kp LC(PG_DN)       &mmv MOVE_LEFT     &mmv MOVE_DOWN    &mmv MOVE_RIGHT   &msc SCRL_DOWN            &kp EQUAL       &kp PLUS        &kp MINUS            &kp KP_MULTIPLY         &kp ENTER
                                                                         &to 0             &kp BSPC                  &kp LC(LSHFT)      &trans
                >;
        };
        
        // Layer 4
        // create a layer for gaming purpose
            // [done] should include AWSD in middle of left hand
            // [done] should have CTRL and SHFT
            // [done] should have SPACE key
            // [done] should have ESC key
            // [done] should have TAB key
            // [done] should have ALT key
            // [done through combo] should have ENTER key
            // [done] should ave R-reload
            // [done] should have F-melee
            // ??????? should have M
            // [done] should have Q
            // [done] should have E
            // [done] should have Z
            // [done] should have X
            // [done] should have C
            // [done] should have V
            // [done through combo] should have MCLK
            // [done] should have mouse scroll up
            // [done] should have mouse scroll down
            // [done through combo] create an escape back to layer 0
            // [done through combo] create a way to enter to this layer

        gaming_layer {
            bindings = <
                &kp ESC       &kp Q     &kp W     &kp E     &kp R          &msc SCRL_UP        &mkp LCLK         &mmv MOVE_UP       &mkp RCLK           &mkp LCLK
                &kp LSHFT     &kp A     &kp S     &kp D     &kp F          &msc SCRL_DOWN      &mmv MOVE_LEFT    &mmv MOVE_DOWN     &mmv MOVE_RIGHT     &none
                &kp LCTRL     &kp Z     &kp X     &kp C     &kp V          &kp LEFT            &kp DOWN          &kp UP             &kp RIGHT           &none
                                           &kp LALT     &kp SPACE          &none     &kp TAB
                >;
        };

        // Layer 5
        // create a layer for system purpose 
            // [done through combo] create a way to enter this layer
            // [done through combo] create a way to exit this layer
            // [done] should have soft reset for left and right side
            // [done] should have hard reset for left and right side

        system_layer {
            bindings = <
                &none              &none     &none     &none     &bootloader          &bootloader     &none     &none     &none     &none
                &none              &none     &none     &none     &none                &none           &none     &none     &none     &none
                &bt_clr_reset      &none     &none     &none     &none                &none           &none     &none     &none     &bt_clr_reset
                                              &none     &reset               &reset          &none
                >;
        };
    };

    combos {
        compatible = "zmk,combos";
        
        combo_divide {
            timeout-ms = <50>;
            key-positions = <26 27>;
            layers = <3>;
            bindings = <&kp KP_DIVIDE>;
        };

        combo_middle_click {
            timeout-ms = <50>;
            key-positions = <11 13>;
            layers = <3>;
            bindings = <&mkp MCLK>;
        };

        commbo_middle_click2 {
            timeout-ms = <50>;
            key-positions = <6 8>;
            layers = <4>;
            bindings = <&mkp MCLK>;
        };

        combo_scroll_left {
            timeout-ms = <50>;
            key-positions = <10 20>;
            layers = <3>;
            bindings = <&msc SCRL_LEFT>;
        };

        combo_scroll_right {
            timeout-ms = <50>;
            key-positions = <14 24>;
            layers = <3>;
            bindings = <&msc SCRL_RIGHT>;
        };

        combo_enter {
            timeout-ms = <50>;
            key-positions = <30 31>;
            layers = <4>;
            bindings = <&kp ENTER>;
        };
        // TODO: problem in limit of button to activate combo
        combo_enter_layer4_from_layer0 {
            timeout-ms = <50>;
            key-positions = <0 9 10 19 20 29>;
            layers = <0>;
            bindings = <&tog 4>;
        }; 

        combo_return_layer0_from_layer4 {
            timeout-ms = <50>;
            key-positions = <0 9 10 19 20 29>;
            layers = <4>;
            bindings = <&to 0>;
        }; 

        combo_enter_layer5_from_layer0 {
            timeout-ms = <50>;
            key-positions = <0 1 2 3 6 7 8 9 30 33>;
            layers = <0>;
            bindings = <&tog 5>;
        }; 

        combo_return_layer_from_layer5 {
            timeout-ms = <50>;
            key-positions = <0 1 2 3 6 7 8 9 30 33>;
            layers = <5>;
            bindings = <&to 0>;
        }; 
        
        // Add a combo to quickly clear BT connections and reconnect when issues arise
        combo_bt_reset {
            timeout-ms = <50>;
            key-positions = <25 29>;  // Bottom right corner keys
            layers = <0>;
            bindings = <&bt_clr_reset>;
        }; 
    };

    macros {
        // EXCEL: prepare formatting of the sheet with favorite font, gridline and font size
        sheet_prepare: sheet_prepare {
            label = "ZM_sheet_prepare";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            tap-ms = <50>;
            bindings 
                // select whole sheet
                = <&kp LC(A)>
                // font selection
                , <&kp LALT &kp H &kp F &kp F &kp A &kp R &kp I &kp A &kp L &kp SPACE &kp N &kp A &kp R &kp R &kp O &kp W &kp ENTER>
                // remove gridline
                , <&kp LALT &kp W &kp V &kp G>
                // font size
                , <&kp LALT &kp H &kp F &kp S &kp N1 &kp N1 &kp ENTER>
                ;
        };

        // EXCEL: select the cell and choose place to turn on freeze pane, activate again to remove freeze pane
        freeze_pane: freeze_pane {
            label = "ZM_freeze_pane";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <40>;
            bindings = <&kp LALT &kp W &kp F &kp F>;
        };

        // EXCEL: increase decimal points
        inc_dec: inc_dec {
            label = "ZM_inc_dec";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <40>;
            bindings = <&kp LALT &kp H &kp N0>;
        };

        // EXCEL: reduce decimal points
        red_dec: red_dec {
            label = "ZM_red_dec";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <40>;
            bindings = <&kp LALT &kp H &kp N9>;
        };
        
        // EXCEL: trace precedent (new macro)
        trace_precedent: trace_precedent {
            label = "ZM_trace_precedent";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <40>;
            bindings = <&kp LALT &kp T &kp U &kp P>;
        };
        
        // Excel: trace dependent (new macro)
        trace_dependent: trace_dependent {
            label = "ZM_trace_dependent";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <40>;
            bindings = <&kp LALT &kp T &kp U &kp D>;
        };
        
        // Excel: remove arrows (new macro)
        remove_arrows: remove_arrows {
            label = "ZM_remove_arrows";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <40>;
            bindings = <&kp LALT &kp T &kp U &kp A &kp A>;
        };
    };
}; 
